
#topnavbar {
  padding-bottom: 10px;
}
#navbar, #navbar-right li a {
  color: black;
  font-size: 30px;
  font-family: Georgia, serif;
}

#navbar-right {
  margin-right: 30px;
}

#navbar-right li{
  margin-right: 10px;
}

#navbar-right li:hover {
  cursor: pointer;
  color: white;
}


/***Header***/
.carousel-caption h2,
.carousel-caption p {
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 180px;
  font-family: Georgia, serif;
}

.carousel-caption h2 {
  font-size: 75px;
  margin-top: 180px;
  margin-bottom: 0px;
}

.carousel-caption p {
  font-size: 50px;
  color: white;
}

.carousel-caption a {
  color: white;
}

.col-md-4 h2 {
  color: black;
}

.col-md-12 {
  margin-top: 10px;
}

/*About Me*/
.aboutme h1 {
  padding-bottom: 100px;
}
.aboutme {
  text-align: center;
  padding-bottom: 75px;
  padding-top: 75px;
  font-family: Georgia, serif;
}

.aboutme_image {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#skill-logos {
  margin-left: 50px;
}

.skills {
  margin-top: 25px
}

.skill-header {
  text-align: center;
}
.aboutme-message {
  padding-top: 100px;
  font-family: Georgia, serif;
}

.logo {
  bottom: 70px;
}


/*Portfolio*/
.portfolio {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Georgia, serif;
}

.completed-projects {
  margin-bottom: 100px;
}

.completed-projects h2 {
  font-family: Georgia, serif;
}

.completed-projects h3 {
  color: black;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.node-logo {
  margin-top: 60px;
}
/*Contact Me*/
.text-center {
  padding-bottom: 30px;
  font-family: Georgia, serif;
}
.contact-me {
  color: black;
  font-family: Georgia, serif;
  /*padding-top: 50px;*/
  /*padding-left: 20px;*/
  text-align: center;
}

.contact-info {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

.tech-used, .project-names {
  text-align: center;
}

.tech-used {
  font-size: 16px;
  font-style: italic;
  margin-top: 5px;
}
